<% if @boozebtl %>
<article>
<p>Booze Name: <%= @boozebtl.name %>
<p>Booze Type: <%= @boozebtl.type %>
<p>Bottle Size: <%= @boozebtl.size %>
<p>Ammount Left: <%= @boozebtl.ammount %>
<p><a href="<%= @boozebtl.saqurl %>"><%= @boozebtl.saqurl %></a>
</article>
<% end %>
